<div class="devise-container">
  <h1>Forgot your password?</h1>
  <div class="user-setting">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true, :autofocus => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Reset password" %>
      </div>
    <% end %>
    <div class="devise-shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>